[defaults]
roles_path = /fap/ansible/projects/DR_04_DR전환_점검/roles
host_key_checking = False
bin_ansible_callbacks = False
inventory = /fap/ansible/inventory
collections_paths = /fap/ansible/ansible_collections
library = /fap/ansible/modules
retry_files_enabled = False
stdout_callback = yaml
deprecation_warnings = False

[ssh_connection]
pipelining = True # 2021.11.15 woochan

