[defaults]
roles_path = /fap/ansible/projects/DR_IP수동전환_2/roles
host_key_checking = False
stdout_callback = yaml
bin_ansible_callbacks = False
inventory = /fap/ansible/inventory
library = /fap/ansible/modules
collections_paths = /fap/ansible/ansible_collections
retry_files_enabled = False
deprecation_warnings = False

[ssh_connection]
pipelining = True # 2021.11.15 woochan

