[ssh_connection]
pipelining = True # 2021.11.15 woochan

[defaults]
inventory = /fap/ansible/inventory
roles_path = /fap/ansible/projects/DR_05_김포원복/roles
stdout_callback = yaml
collections_paths = /fap/ansible/ansible_collections
bin_ansible_callbacks = False
host_key_checking = False
retry_files_enabled = False
library = /fap/ansible/modules
deprecation_warnings = False

