[defaults]
host_key_checking = False
stdout_callback = yaml
inventory = /fap/ansible/inventory
roles_path = /fap/ansible/projects/DR_01_DR동기화중지/roles
collections_paths = /fap/ansible/ansible_collections
retry_files_enabled = False
library = /fap/ansible/modules
bin_ansible_callbacks = False
deprecation_warnings = False

[ssh_connection]
pipelining = True # 2021.11.15 woochan

