[defaults]
stdout_callback = yaml
collections_paths = /fap/ansible/ansible_collections
roles_path = /fap/ansible/projects/DR_IP수동전환_1/roles
bin_ansible_callbacks = False
retry_files_enabled = False
inventory = /fap/ansible/inventory
host_key_checking = False
library = /fap/ansible/modules
deprecation_warnings = False

[ssh_connection]
pipelining = True # 2021.11.15 woochan

