[ssh_connection]
pipelining = True # 2021.11.15 woochan

[defaults]
inventory = /fap/ansible/inventory
stdout_callback = yaml
library = /fap/ansible/modules
host_key_checking = False
collections_paths = /fap/ansible/ansible_collections
bin_ansible_callbacks = False
roles_path = /fap/ansible/projects/DR_IP수동전환_3/roles
retry_files_enabled = False
deprecation_warnings = False

