[ssh_connection]
pipelining = True # 2021.11.15 woochan

[defaults]
host_key_checking = False
retry_files_enabled = False
roles_path = /fap/ansible/projects/DR_07_DR동기화수행/roles
collections_paths = /fap/ansible/ansible_collections
stdout_callback = yaml
inventory = /fap/ansible/inventory
bin_ansible_callbacks = False
library = /fap/ansible/modules
deprecation_warnings = False

