[defaults]
inventory = /fap/ansible/inventory
roles_path = /fap/ansible/projects/Common/roles
host_key_checking = False
retry_files_enabled = False
library = /fap/ansible/modules
collections_paths = /fap/ansible/ansible_collections

