[ssh_connection]
pipelining = True # 2021.11.15 woochan

[defaults]
retry_files_enabled = False
inventory = /fap/ansible/inventory
library = /fap/ansible/modules
collections_paths = /fap/ansible/ansible_collections
bin_ansible_callbacks = False
host_key_checking = False
roles_path = /fap/ansible/projects/DR_06_김포1_2_OS기동/roles
stdout_callback = yaml
deprecation_warnings = False

