[ssh_connection]
pipelining = True

[defaults]
terminal_plugins = /fap/ansible/plugins/terminal
roles_path = /fap/ansible/projects/네트워크장비_백업_new/roles
display_skipped_hosts = False
inventory_plugins = /fap/ansible/plugins/inventory
library = /fap/ansible/modules
filter_plugins = /fap/ansible/plugins/filter
inventory = /fap/ansible/inventory
force_valid_group_names = ignore
stdout_callback = yaml
retry_files_enabled = False
collections_paths = /fap/ansible/ansible_collections
vars_plugins = /fap/ansible/plugins/vars
action_plugins = /fap/ansible/plugins/action
bin_ansible_callbacks = False
lookup_plugins = /fap/ansible/plugins/lookup
connection_plugins = /fap/ansible/plugins/connection
test_plugins = /fap/ansible/plugins/test
host_key_checking = False
callback_plugins = /fap/ansible/plugins/callback
strategy_plugins = /fap/ansible/plugins/strategy
cache_plugins = /fap/ansible/plugins/cache
deprecation_warnings = False

