[defaults]
force_valid_group_names = ignore
display_skipped_hosts = False
deprecation_warnings = False
inventory = /fap/ansible/inventory
library = /fap/ansible/modules
roles_path = /fap/ansible/projects/[서버]_명령어_사용결과/roles
collections_paths = /fap/ansible/ansible_collections:/fap/ansible/projects/Common/ansible_collections
filter_plugins = /fap/ansible/projects/Common/plugins/filter
action_plugins = /fap/ansible/projects/Common/plugins/action
cache_plugins = /fap/ansible/projects/Common/plugins/cache
callback_plugins = /fap/ansible/projects/Common/plugins/callback
connection_plugins = /fap/ansible/projects/Common/plugins/connection
lookup_plugins = /fap/ansible/projects/Common/plugins/lookup
inventory_plugins = /fap/ansible/projects/Common/plugins/inventory
vars_plugins = /fap/ansible/projects/Common/plugins/vars
test_plugins = /fap/ansible/projects/Common/plugins/test
terminal_plugins = /fap/ansible/projects/Common/plugins/terminal
strategy_plugins = /fap/ansible/projects/Common/plugins/strategy
host_key_checking = False
stdout_callback = yaml
bin_ansible_callbacks = False
retry_files_enabled = False

[ssh_connection]
pipelining = True

