[defaults]
inventory = /fap/ansible/inventory
library = /fap/ansible/modules
roles_path = /fap/ansible/projects/취약점_스크립트_Linux_VS/roles
collections_paths = /fap/ansible/ansible_collections
host_key_checking = False
stdout_callback = yaml
bin_ansible_callbacks = False
retry_files_enabled = False
deprecation_warnings = False

[ssh_connection]
pipelining = True

