[defaults]
force_valid_group_names = ignore
display_skipped_hosts = False
deprecation_warnings = False
inventory = /fap/ansible/inventory
library = /fap/ansible/modules
roles_path = /fap/ansible/projects/26_DR_테스트_03/roles
collections_paths = /fap/ansible/ansible_collections
filter_plugins = /fap/ansible/plugins/filter
action_plugins = /fap/ansible/plugins/action
cache_plugins = /fap/ansible/plugins/cache
callback_plugins = /fap/ansible/plugins/callback
connection_plugins = /fap/ansible/plugins/connection
lookup_plugins = /fap/ansible/plugins/lookup
inventory_plugins = /fap/ansible/plugins/inventory
vars_plugins = /fap/ansible/plugins/vars
test_plugins = /fap/ansible/plugins/test
terminal_plugins = /fap/ansible/plugins/terminal
strategy_plugins = /fap/ansible/plugins/strategy
host_key_checking = False
stdout_callback = yaml
bin_ansible_callbacks = False
retry_files_enabled = False

[ssh_connection]
pipelining = True

