[defaults]
collections_paths = /fap/ansible/ansible_collections
roles_path = /fap/ansible/projects/DR_02_김포_1_2_OS종료/roles
stdout_callback = yaml
bin_ansible_callbacks = False
retry_files_enabled = False
inventory = /fap/ansible/inventory
library = /fap/ansible/modules
host_key_checking = False
deprecation_warnings = False

[ssh_connection]
pipelining = True # 2021.11.15 woochan

